<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <aop:aspectj-autoproxy/>
    <context:annotation-config/>
    <context:component-scan base-package="shop"/>

    <bean id="incrementalPaymentIdGenerator" class="shop.payments.services.payment_id_generator.IncrementalPaymentIdGenerator"/>

    <bean id="uuidPaymentGenerator" class="shop.payments.services.payment_id_generator.UUIDPaymentIdGenerator"/>

    <bean id="paymentRepository" class="shop.payments.repositories.PaymentRepositoryImpl"/>

    <bean id ="fakePaymentService" class="shop.payments.services.payment_service.FakePaymentService" init-method="init" destroy-method="destroy">
        <constructor-arg name="paymentIdGenerator" ref="uuidPaymentGenerator"/>
        <constructor-arg name="paymentRepository" ref="paymentRepository"/>
    </bean>

    <bean class="shop.payments.aspect.PaymentConsoleLog"/>

</beans>